body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    padding: 20px;
}

.meal-type {
    width: 100%;
    border-right: 1px solid gray;
    
    margin-top: 20px;
    padding: 20px 10px 20px 10px;
    text-align: middle;
}

h4, h5 {
    text-align: justify;
    font-weight: 800;
}

p {
    padding: 30px 20px 20px 20px;
}

img {
    box-shadow: 5px 10px 8px 5px #afadad;
    margin: 10px 25px 30px 5px;
}